{
  "plugins": ["@prettier/plugin-xml", "prettier-plugin-tailwindcss"],
  "bracketSpacing": true,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "vueIndentScriptAndStyle": false,
  "tailwindStylesheet": "./app/assets/css/main.css"
}
