{
  "plugins": ["@prettier/plugin-xml"],
  "bracketSpacing": true,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "vueIndentScriptAndStyle": false
}
